.htaccess
wp-config.php
#robots.txt

*.zip
*.sql
*.log
.DS_Store
.idea
package-lock.json

wp-content/backups/
wp-content/advanced-cache.php
wp-content/cache/
wp-content/w3tc-config/
wp-content/themes/twenty*/


node_modules/
