/* ==========================================================================
   WooCommerce Single Product Page styles - begin
   ========================================================================== */

.mkdf-woo-single-page {
	
	&.mkdf-woo-single-thumb-on-left-side {
		
		.mkdf-single-product-content {
			
			.images {
				
				@media only screen and (min-width: $ipad-portrait-plus-pixel) {
					
					figure {
						width: 100%;
						margin: 0;
					}
					
					.woocommerce-product-gallery__image {
						
						&:first-child {
							left: 120px;
							width: calc(100% - 120px);
						}
					}
					
					&.woocommerce-product-gallery--with-images {
						
						.woocommerce-product-gallery__image {
							
							&:not(:first-child) {
								position: absolute;
								top: 0;
								left: 0;
								width: 100px;
								height: calc(25% + 5px);
								padding: 0 0 20px;
								box-sizing: border-box;
								
								a {
									height: 100%;
									
									img {
										height: 100%;
									}
								}
							}
							
							$thumbnail_numbers: (2, 3, 4, 5, 6, 7, 8, 9);
							@for $i from 0 to length($thumbnail_numbers) {
								$thumbnail_number_value: nth($thumbnail_numbers, $i+1);
								
								&:nth-child(#{$thumbnail_number_value}#{n}) {
									$first_param: (25 * $i)#{'%'};
									$second_param: (5 * $i)#{px};
									$topPos: calc(#{$first_param} + #{$second_param});
									
									top: $topPos;
								}
							}
						}
					}
				}
			}
		}
	}
    
    .product {
	    @include mkdfRelativeHolderLayout();
	    float: none;
	    margin: 0 0 100px;
    }
        
    .mkdf-single-product-content {
        @include mkdfRelativeHolderLayout();
        clear: both;
        margin: 0 0 20px;
        background-color: #fff;
        @include mkdfBoxShadow(0px 3px 14.56px 1.44px rgba(202, 196, 184, 0.23));
	
	    .images {
		    position: relative;
		    display: inline-block;
		    vertical-align: middle;
		    width: 53%;
		    margin: 0;
		    padding: 0 29px 0 0;
		    float: left;
		    box-sizing: border-box;
		    
		    figure {
			    position: relative;
			    display: inline-block;
			    vertical-align: top;
			    margin: 0 -10px;
			
			    a {
				    @include mkdfRelativeHolderLayout();
				
				    img {
					    position: relative;
					    width: 100%;
					    display: block;
				    }
			    }

                .mkdf-new-product,
                .mkdf-onsale,
                .mkdf-out-of-stock{
                    left: 24px;
                }
		    }
		
		    .woocommerce-product-gallery__trigger {
				position: absolute;
			    top: 10px;
			    right: 39px;
			    width: 30px;
			    height: 30px;
			    line-height: 30px;
			    text-align: center;
			    z-index: 10;
		    }
		    
		    .woocommerce-product-gallery__image {
			    position: relative;
			    display: inline-block;
			    vertical-align: top;
			    margin: 0;
			    padding: 0 5px;
			    box-sizing: border-box;
			    
			    &:first-child {
				    left: 10px;
				    width: calc(100% - 10px);
				    padding: 0;
			    }
			
			    .zoomImg {
				    cursor: crosshair;
			    }
		    }
		    
		    &.woocommerce-product-gallery--with-images {
			
			    .woocommerce-product-gallery__image {
				
				    &:not(:first-child) {
					    float: left;
					    padding-top: 10px;
				    }
			    }
		    }
		
		    $thumb_3_columns_label: ('columns-2', 'columns-3', 'columns-4');
		    @for $i from 0 to length($thumb_3_columns_label) {
			    &.woocommerce-product-gallery--#{nth($thumb_3_columns_label, $i+1)} {
				    $column_width: 100%/($i+2);
				
				    .woocommerce-product-gallery__image {
					
					    &:not(:first-child) {
						    width: $column_width;
                            left: 5px;
					    }
				    }
			    }
		    }
	    }
    }
	
    .mkdf-single-product-summary {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 45%;
        padding: 0 30px 0 45px;
        float: left;
        box-sizing: border-box;
	
	    .mkdf-single-product-title {
		    display: block;
		    margin: 75px 0 7px;
            font-weight: 700;
	    }
	
	    .price {
		    @include mkdfWooCommercePriceStyle();
            display: inline-block;
            margin: 34px 10px 0 0;
            font-size: 28px;
            font-weight: 700;
            font-family: $default-heading-font;
	    }

        .mkdf-availability{
            display: inline-block;
            position: relative;
            bottom: 2px;
        }
	
	    .woocommerce-product-rating {
		    @include mkdfRelativeHolderLayout();
		    line-height: 1;
		    margin: 0 0 3px;

            .star-rating{
                font-size: 16px;
                color: $first-main-color;
                letter-spacing: 4px;
            }

            > a{
                position: relative;
                top: 3px;
            }
	    }
	
	    .woocommerce-product-details__short-description {
		    @include mkdfRelativeHolderLayout();
		    margin: 29px 0 0;
		
		    p {
			    margin: 0;
		    }
	    }
	
	    .product_meta {
		    margin: 38px 0 0;
		
		    > span {
			    display: block;
			    margin: 3px 0;
                color: #2d2e32;
			
			    a {
				    color: $default-text-color;
				
				    &:hover {
					    color: $first-main-color;
				    }
			    }
		    }
	    }
	
	    .mkdf-woo-social-share-holder {
		    @include mkdfRelativeHolderLayout();
		    margin: 0;
		
		    > * {
			    display: table-cell;
			    vertical-align: top;
		    }
		
		    > span {
			    padding: 0 9px 0 0;
		    }
	    }
	
	    p.stock.out-of-stock,
	    p.stock.in-stock {
            display: inline-block;
            color: #63c7d7;
            font-weight: 600;
		    margin: 18px 0 0 10px;
            position: relative;
            bottom: 2px;
	    }
	
	    form.cart {
		    @include mkdfRelativeHolderLayout();
		    margin: 42px 0 0;

            .single_add_to_cart_button{
                font-family: $default-text-font;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: .1em;
                float: left;
                padding: 8px 30px 12px 35px;

                &:after{
                    content: "\39";
                    font-family: ElegantIcons;
                    font-size: 25px;
                    position: relative;
                    top: 6px;
                    line-height: inherit;
                    font-weight: 400!important;
                }
            }
	    }
	
	    .mkdf-quantity-buttons {
		    margin: 0;
            float: left;
	    }
    }
	
	.woocommerce-tabs {
		@include mkdfRelativeHolderLayout();
		margin: 96px 0 0;
		
		ul.tabs {
			@include mkdfRelativeHolderLayout();
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
			clear: both;
			
			> li {
				position: relative;
				display: inline-block;
				vertical-align: middle;
                margin: 0 11px;

                &.description_tab{
                    a{
                        &:before{
                            content: "\28";
                            font-family: dripicons-v2;
                            font-size: 16px;
                            position: relative;
                            top: 3px;
                            padding-right: 9px;

                            @include laptop-landscape-medium{
                                top: -1px;
                            }
                        }
                    }
                }

                &.reviews_tab{
                    a{
                        &:before{
                            content: "\e045";
                            font-family: dripicons-v2;
                            font-size: 16px;
                            position: relative;
                            top: 3px;
                            padding-right: 9px;

                            @include laptop-landscape-medium{
                                top: -1px;
                            }
                        }
                    }
                }

                &.additional_information_tab{
                    a{
                        &:before{
                            content: "\e05b";
                            font-family: dripicons-v2;
                            font-size: 16px;
                            position: relative;
                            top: 3px;
                            padding-right: 9px;

                            @include laptop-landscape-medium{
                                top: -1px;
                            }
                        }
                    }
                }

                &.active{
                    a{
						&:after {
							@include mkdfTransform(scale3d(1,1,1));
						}
                    }
                }
				
				a {
					position: relative;
					display: inline-block;
					vertical-align: top;
					padding: 1px 5px 4px;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 1;

                    @include laptop-landscape-medium{
                        padding: 4px 5px 2px;
                    }

					&:after {
						content: '';
						position: absolute;
						left: -1px;
						top: 0;
						height: calc(100% + 1px);
						width: calc(100% + 6px);
						z-index: -1;
						@include mkdfTransform(scale3d(0,1,1));
						@include mkdfTransformOrigin(100% 50%);
						background-color: $second-main-color;
						@include mkdfTransition(transform 0.3s);
					}

                    &:hover{
						background-color: transparent;
						border-color: transparent;
						color: $default-heading-color;

						&:after {
							@include mkdfTransform(scale3d(1,1,1));
							@include mkdfTransformOrigin(0 50%);
						}
                    }
				}
			}
		}
		
		.entry-content {
			@include mkdfRelativeHolderLayout();

            &.woocommerce-Tabs-panel--description{
                padding: 0 15%;
                box-sizing: border-box;
                text-align: center;
            }
			
			> h2 {
				display: none;
			}
			
			> p {
				margin: 43px 0 20px;
			}
		}
		
		table {
            margin: 38px 0 20px;
			
			tr, th {
				border: 0;
			}
			
			td, th {
				padding: 3px 0;
				vertical-align: middle;
				text-align: left;
				
				p {
					margin: 0;
				}
			}
			
			th {
				color: $default-heading-color;
				width: 1%;
				padding: 0 10px 0 0;
                font-weight: 400
			}
			
			td {
				width: 99%;
			}
		}
		
		#reviews {
			@include mkdfRelativeHolderLayout();
			margin: 18px 0 20px;
			
			h2 {
				font-size: 18px;
				line-height: 24px;
                margin: 28px 0 24px;
			}

            textarea{
                width: 50%;

                @include ipad-portrait{
                    width: 100%!important;
                }
            }

            .comment-form-author,
            .comment-form-email{
                input{
                    width: 50%!important;
                    display: block;

                    @include ipad-portrait{
                        width: 100%!important;
                    }
                }
            }
			
			ol.commentlist {
				list-style: none;
				
				li {
					margin: 0 0 15px;
					
					&:last-child {
						margin: 0;
					}
				}
				
				.comment_container {
					@include mkdfRelativeHolderLayout();
					
					img {
						float: left;
						width: 70px;
					}
				}
				
				.comment-text {
					padding: 0 0 0 90px;
					
					p {
						margin: 0;
					}
				}
			}
			
			.comment-respond {
				margin-top: 15px;
				
				.comment-reply-title {
					margin: 0 0 10px;
				}
				
				p {
					margin: 0;
				}
				
				.stars {
					overflow: hidden;
					
					a {
						position: relative;
						display: inline-block;
						color: transparent;
						font-size: 0;
						margin: 0;
						@include mkdfWooCommerceSingleProductRatingsStyle();
					}
				}
			}
		}
	}
	
	.related.products,
	.upsells.products {
		margin: 70px 0 0;

		> h2 {
			display: block;
			margin: 36px 0 76px;
			text-align: center;
            font-size: 60px;

            &:after{
                content: '';
                background-image:  url("../img/divider_color.png");;
                display: block;
                width: 44px;
                margin: 0 auto;
                height: 8px;
                background-size: contain;
                position: relative;
                top: 17px;
            }
		}
		
		.product {
			
			.mkdf-pl-text-wrapper {
				margin-bottom: 0;
			}
		}
	}
}
/* ==========================================================================
   WooCommerce Single Product Page styles - end
   ========================================================================== */