/* Checkout Coupon & Login */
.checkout-login,
.checkout-coupon {
	padding: 10px 0;

	form {
		padding: 30px 0;
	}
	.showlogin,
	.showcoupon {
		font-weight: 500;
	}
}
.woocommerce {
	.woocommerce-form-login {
		p:first-of-type {
			font-size: 14px;
			margin-bottom: 30px;
		}
		@include min-break($break-small) {
			.form-row.form-row-first,
			.form-row.form-row-last {
				width: 100%;
				padding: 0;
			}
		}
		label {
			display: block;
		}
		.button {
			width: 100%;
			margin-bottom: 30px;
		}
		.woocommerce-form__label {
			float: left;
			position: relative;
			.woocommerce-form__input-checkbox {
				visibility: visible;
				position: static;
			}
		}
		.lost_password {
			float: right;
			position: relative;
			top: -40px;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}
}

/* Review Order */
.wc_payment_methods,
.woocommerce-PaymentMethods {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;

	.wc_payment_method,
	.woocommerce-PaymentMethod {
		padding: 20px 0;
		margin: 0;
		border-bottom: 1px solid $color4;

		&.payment_method_stripe {
			display: inline-block;
			width: 100%;
			>label {
				white-space: nowrap;

				.stripe-icon {
					max-width: 30px;
				}
			}
			p {
				margin-bottom: 10px !important;
			}
			.wc-credit-card-form {
				label {
					padding-left: 0;
				}
				.StripeElement {
					padding: 10px;
					margin-bottom: 15px;
				}
			}
		}
		label {
			margin: 0;
			float: none;
			padding-left: 6px;

			.rtl & {
				padding-left: 0;
				padding-right: 6px;
			}
		}
		.custom_label {
			font-size: 16px;
			font-weight: 500;
		}
		img {
			vertical-align: middle;
			margin-left: 10px;
			max-height: 16px;

			.rtl & {
				margin-left: 0;
				margin-right: 10px;
			}
		}
		.payment_box {
			margin: 20px 0 0 25px;

			font-size: 12px;

			p {
				margin: 0;
			}
		}

		&.payment_method_paypal {

			img {
				display: none;
			}
			.about_paypal {
				color: $color3;
				font-size: 12px;
				text-transform: uppercase;
				margin-left: 20px;
				float: right;
			}
			.form-row.woocommerce-SavedPaymentMethods-saveNew {
				float: none;
			}
		}
	}

	& + .place-order {
		text-align: right;

		.button {
			width: 100%;
		}
	}
}
/* Billing & Shipping */
form.woocommerce-checkout {
	margin-top: 8vh;
}
.wc-proceed-to-checkout {
	.button {
		width: 100%;
	}
}
.woocommerce-billing-fields,
.woocommerce-shipping-fields,
.woocommerce-additional-fields {
	@include min-break($break-small) {
    padding-right: 5%;

		.rtl & {
			padding-right: 0;
			padding-left: 5%;
		}
	}
}
#billing_address_1_field,
#shipping_address_1_field {
	margin-bottom: 10px;
}
/* Shipping & Billing */
#customer_details {
	margin-bottom: 50px;
	@extend .cf;
}
#ship-to-different-address {
	padding: 0;
	float: right;
	width: 100%;

	.shipping_toggle {
		float: right;
		position: relative;
	}
}

/* Terms & Conditions */
.woocommerce-terms-and-conditions-wrapper {
	margin-top: 10px;
	.woocommerce-terms-and-conditions-checkbox-text {
		padding-left: 6px;
	}
	.woocommerce-privacy-policy-text {
		font-size: 12px;
	}
	.woocommerce-terms-and-conditions-link {
    text-decoration: underline;
  }
}


#checkout_thankyou {
	h2 {
		margin-top: 50px;
	}
	.order_details {
		list-style: none;
		font-size: 14px;
		color: $color1;
	}
}
