/* ==========================================================================
   Marks (Sale, Out of Stock) mixin styles - begin
   ========================================================================== */

@mixin mkdfWooCommerceMarksGeneralStyle() {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 10;
    font-size: 14px;
    padding: 0 8px;
    transform-origin: 0 0;
    color: #000;
    letter-spacing: .05em;
    font-weight: 600;
    background-color: #fff;
    @include mkdfTransform(rotate(270deg) translateX(-100%));
}

@mixin mkdfWooCommerceSaleStyle() {
    left: 12px;
    background-color: $first-main-color;
    color: #fff;
}

@mixin mkdfWooCommerceOutOfStockyStyle() {
    right: auto;
    left: 12px;
    color: #fff;
    background-color: $default-heading-color;
}
/* ==========================================================================
   Marks (Sale, Out of Stock) mixin styles - end
   ========================================================================== */

/* ==========================================================================
   Price mixin styles - begin
   ========================================================================== */

@mixin mkdfWooCommercePriceStyle() {
    position: relative;
    display: block;
    margin: 14px 0 0;
    line-height: 1;
    color: $default-heading-color;
    font-family: $default-heading-font;
    
    * {
        font-size: inherit;
        line-height: inherit;
    }
    
    del {
        margin: 0 8px 0 0;
        color: rgba($default-heading-color, .8);
    }
    
    ins {
        text-decoration: none;
    }
}
/* ==========================================================================
   Price mixin styles - end
   ========================================================================== */

/* ==========================================================================
   Star Ratings mixin styles - begin
   ========================================================================== */

%star-ratings {
    font-family: "ElegantIcons";
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: $default-text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin mkdfWooCommerceRatingsStyle() {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @extend %star-ratings;
    overflow: hidden;
    
    &:before {
        content: "\e031\e031\e031\e031\e031";
    }
    
    span {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        
        &:before {
            content: "\e033\e033\e033\e033\e033";
        }
    }
}

@mixin mkdfWooCommerceSingleProductRatingsStyle() {
    
    &:before {
        content: "\e031";
        position: relative;
        display: inline-block;
        vertical-align: middle;
        @extend %star-ratings;
        overflow: hidden;
        z-index: -1;
    }
    
    &.active:after {
        content: "\e033\e033\e033\e033\e033";
        position: absolute;
        right: 0;
        bottom: 7px;
        display: block;
        @extend %star-ratings;
    }
}
/* ==========================================================================
   Star Ratings mixin styles - end
   ========================================================================== */