/* ==========================================================================
   WooCommerce Pagination styles - begin
   ========================================================================== */
.mkdf-woo-pagination-holder {
    @include mkdfRelativeHolderLayout();
    margin: 10px 0 72px;
    clear: both;

    .mkdf-woo-pagination-inner {
        position: relative;
        display: table;
        width: 100%;
        text-align: right;
    }
}

.woocommerce-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 99%;
    margin: 0;
    padding: 0;
    text-align: center;

    .page-numbers {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0;

            a,
            span {
                position: relative;
                display: inline-block;
	            width: auto;
                margin: 0 3px;
                padding: 0;
                vertical-align: top;
                text-decoration: none;
                cursor: pointer;
                white-space: nowrap;
                color: $default-text-color;
                @include mkdfTransition(color .2s ease-out);
                font-size: 18px;

                &:hover,
                &.current {
                    color: $first-main-color;
                }
            }

            a {

                &.next,
                &.prev {
                    font-size: 0;
                    line-height: 1;
                    margin: 1px 7px;
                    top: 3px;
                    position: relative;

                    &:before {
                        font-family: ElegantIcons;
                        font-size: 25px;
                        position: relative;
                        line-height: inherit;
                        font-weight: 400;
                    }
                }
    
                &.prev {
                    left: 8px;
        
                    &:before {
                        content: "\38";
                    }
                }
    
                &.next {
                    right: 8px;
        
                    &:before {
                        content: "\39";
                    }
                }
            }
        }
    }
}

.mkdf-woo-view-all-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 1%;

    a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0 0 0 2px;
        color: $default-text-color;

        &:before {
            content: '|';
            padding: 0 14px 0 0;
            color: $default-text-color;
        }

        &:hover {
            color: $default-heading-color;
        }
    }
}
/* ==========================================================================
   WooCommerce Pagination styles - end
   ========================================================================== */