    /* ==========================================================================
   Header main menu style - begin
   ========================================================================== */

.mkdf-main-menu {
    @include mkdfRelativeHolderLayout();
    height: 100%;
    width: auto;

    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;

        li {
            position: relative;
            display: inline-block;
            float: left;
            padding: 0;
            margin: 0;

            a {
                font-size: 14px;
                line-height: 24px;
                color: $default-text-color;
                font-family: $default-text-font;

                &:hover {
                    color: #2d2e32;
                }

                i:before {
                    margin: 0 7px 0 0;
                }

                .menu_icon_wrapper {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                }

                .mkdf-menu-featured-icon {
                    position: relative;
                    top: -4px;
                    left: 5px;
                    color: currentColor;
                    font-size: 10px;
                    margin: 0;

                    &:before {
                        margin: 0;
                    }
                }
            }
        }
    }

    > ul {
        @include mkdfRelativeHolderLayout();
        height: 100%;

        > li {
            float: left;
            height: 100%;
            box-sizing: border-box;

            > a {
                @include mkdfRelativeHolderLayout();
                height: 100%;
                padding: 0 15px;
                color: #888484;
                font-size: 14px;
                line-height: 24px;
                box-sizing: border-box;
                letter-spacing: .1em;
                font-weight: 600;
                text-transform: uppercase;

                > span.item_outer {
                    padding: 0 5px;
                    position: relative;
                    display: block;
                    top: 50%;
                    @include mkdfTransform(translateY(-50%));

                    .item_text {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;

                        &:before {
                            content: '';
                            position: absolute;
                            left: -6px;
                            top: 2px;
                            height: calc(100% - 4px);
                            width: calc(100% + 10px);
                            z-index: -1;
                            @include mkdfTransform(scale3d(0,1,1));
                            @include mkdfTransformOrigin(100% 50%);
                            background-color: $second-main-color;
                            @include mkdfTransition(transform 0.3s);
                        }
                    }
                }

                &:hover{
                    color: #1b1c21;
                    font-weight: 700;
                    letter-spacing: .0875em;

                    > span.item_outer {
                        .item_text:before {
                            @include mkdfTransform(scale3d(1,1,1));
                            @include mkdfTransformOrigin(0 50%);
                        }
                    }
                }
            }

            &.mkdf-active-item > a {
                color: #1b1c21;
                font-weight: 700;
                letter-spacing: .0875em;

                > span.item_outer {
                    .item_text:before {
                        @include mkdfTransform(scale3d(1,1,1));
                        @include mkdfTransformOrigin(0 50%);
                    }
                }
            }

            &.has_sub {
                > a .mkdf-menu-arrow {
                    display: none;
                }
            }
        }
    }
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) {

    .mkdf-main-menu > ul > li {

        > a {
            color: $header-light-color;

            > span.item_outer {
                .item_text {
                    &:before {
                        background-color: rgba(231,192,71,0.3);
                    }
                }
            }
        }

        &.mkdf-active-item > a {
            > span.item_outer {
                .item_text {
                    &:before {
                        background-color: rgba(231,192,71,0.3);
                    }
                }
            }
        }
    }
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) {

    .mkdf-main-menu > ul > li {

        > a {
            color: $header-dark-color;

            &:hover {
                color: $header-dark-color;
            }
        }

        &.mkdf-active-item > a {
            color: $header-dark-color;
        }
    }
}

/* Narrow drop down styles
   ========================================================================== */
.mkdf-drop-down {

    .second {
        position: absolute;
        display: block;
        left: -10px;
        top: 100%;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        z-index: 10;
        @include mkdfTransition(top 0.15s ease-out);

        &.mkdf-drop-down-start {
            visibility: visible;
            overflow: visible;
            opacity: 1;
            @include mkdfTransition(opacity 0.2s ease-out);
        }

        &.right {
            right: -10px;
            left: auto;
        }
    
        .inner {
            position: relative;
            display: block;
            padding: 0;
            margin: 0;
            z-index: 997;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    
            ul {
        
                li {
                    display: block;
                    float: none;
                    height: auto;
            
                    .widget {
                        width: 100%;
                        margin: 0 !important;
                    }
            
                    a {
                        display: block;
                        float: none;
                        margin: 0;
                        padding: 5px 30px;
                
                        .item_outer {
                            position: relative;
                            display: block;
                            overflow: hidden;
                            padding: 0 28px 0 0;
                            box-sizing: border-box;
                            @include mkdfTransition(padding .25s);

                            &:before {
                                content: ' ';
                                position: absolute;
                                top: calc(50% + 1px);
                                left: -20px;
                                width: 8px;
                                height: 2px;
                                background-color: $first-main-color;
                                line-height: inherit;
                                font-weight: normal;
                                font-style: normal;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                @include mkdfTransform(translateY(-50%));
                                @include mkdfTransition(left .25s);
                            }
                        }
                
                        &:hover {
                    
                            .item_outer {
                                padding: 0 10px 0 15px;
                        
                                &:before {
                                    left: 0;
                                }
                            }
                        }
                    }
            
                    &.current-menu-ancestor > a,
                    &.current-menu-item > a {
                        color: #2d2e32;
                
                        .item_outer {
                            padding: 0 10px 0 20px;
                    
                            &:before {
                                left: 0;
                            }
                        }
                    }
            
                    &.sub {
                
                        > a {
                    
                            .item_outer {

                                &:after {
                                    position: absolute;
                                    display: inline-block;
                                    vertical-align: middle;
                                    top: 1px;
                                    right: 0;
                                    content: '\f3d3';
                                    font-family: 'Ionicons';
                                    font-size: 17px;
                                    font-weight: normal;
                                    font-style: normal;
                                    text-rendering: auto;
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                }
                            }
                        }
                    }
                }
        
                &.right {
            
                    li {
                
                        a {
                    
                            .item_outer {
                                padding: 0 0 0 30px;
                        
                                &:before {
                                    left: auto;
                                    right: -20px;
                                    @include mkdfTransition(right .25s);
                                }
                            }
                    
                            &:hover {
                        
                                .item_outer {
                                    padding: 0 20px 0 10px;
                            
                                    &:before {
                                        left: auto;
                                        right: 0;
                                    }
                                }
                            }
                        }
                
                        &.current-menu-ancestor > a,
                        &.current-menu-item > a {
                    
                            .item_outer {
                                padding: 0 20px 0 10px;
                        
                                &:before {
                                    left: auto;
                                    right: 0;
                                }
                            }
                        }
                
                        &.sub {
                    
                            > a {
                        
                                .item_outer {
                            
                                    &:after {
                                        right: auto;
                                        left: 0;
                                        content: "\f3d2";
                                    }
                                }
                            }
                        }
                
                        a {
                            text-align: right;
                        }
                
                        ul {
                            left: -100%;
                        }
                    }
                }
            }
        }
    }

    li {
        
        &.left_position {
            
            .second {
                left: 0;
            }
        }
        
        &.right_position {
            
            .second {
                left: auto;
                right: 0;
            }
        }
    }

    > ul > li {
        &:hover > .second {
            z-index: 20;
        }
    }

    .narrow .second .inner {

        ul {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            background-color: #fff;
            padding: 23px 0;

            li {
                width: 220px;

                ul {
                    position: absolute;
                    left: 100%;
                    top: -23px;
                    height: auto;
                    opacity: 0;
                    overflow: hidden;
                    z-index: 10;
                    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.03);
                    -webkit-transform: translateZ(0);
                    @include mkdfTransition(opacity .4s ease-out);
                }

                &:hover ul {
                    z-index: 20;
                    opacity: 1;
                }
            }

            &.right li ul {
                left: -100%;
            }
        }
    }
}

/* Wide drop down styles
   ========================================================================== */
.mkdf-drop-down .wide {

    .second {

        .inner {
            background-color: #fff;
            text-align: center;

            ul {

                li {

                    a {
                        padding: 7px 0;
                    }

                    ul {
                        position: relative;
                        display: block;
                        top: 0;
                        left: 0;
                        visibility: visible;

                        li {

                            &:last-child {

                                a {
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }

            > ul {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 1100px;
                padding: 35px 0;
                box-sizing: border-box;

                @media only screen and (min-width: 1400px) {
                    .mkdf-grid-1300 & {
                        width: $grid-width-1300;
                    }
                }

                @media only screen and (min-width: 1300px) {
                    .mkdf-grid-1200 & {
                        width: $grid-width-1200;
                    }
                }

                @media only screen and (min-width: 1200px) {
                    .mkdf-grid-1000 & {
                        width: $grid-width-1000;
                    }
                }

                @media only screen and (min-width: 1024px) {
                    .mkdf-grid-800 & {
                        width: $grid-width-800;
                    }
                }

                > li {
                    float: left;
                    width: 25%;
                    margin: 0;
                    padding: 0 26px;
                    border-left: 1px solid #f5f0f0;
                    box-sizing: border-box;

                    &:nth-child(4n+1) {
                        clear: both;
                    }

                    > a {
                        padding: 0 0 13px;
                        color: $default-heading-color;
                        font-size: 17px;
                        line-height: 1.1em;

                        &.no_link {
                            cursor: default;
                        }

                        .item_outer {
                            padding: 0;
                            overflow: inherit;

                            &:before,
                            &:after {
                                display: none;
                            }
                        }
                    }

                    &.current-menu-ancestor > a,
                    &.current-menu-item > a {
                        color: $first-main-color;
                    }
                }
            }
        }
    }

    &.left_position,
    &.right_position {

        .second .inner > ul {
            width: auto;
            white-space: nowrap;

            > li {
                float: none;
                display: inline-block;
                vertical-align: top;

                &:nth-child(4n+1) {
                    border-left: none;
                }
            }
        }

        .second ul li {
            width: 220px;
        }
    }
}
/* ==========================================================================
   Header main menu style - end
   ========================================================================== */